In [ ]:
import numpy  as np
import pandas as  pd

Series
Similar to a NumPy array, but

a series can have axis labels (can be indexed by a label)
can hold any type of data object with Python as its data point (strings)

In [ ]:
labels = ['a' , 'b' , 'c']

mydata = [ 1 , 2  ,3]

In [ ]:
arr = np.array(mydata)

In [ ]:
labels

['a', 'b', 'c']

In [ ]:
mydata

[1, 2, 3]

In [ ]:
arr

array([1, 2, 3])

In [ ]:
d ={'a':10,'b':20,'c':30}

In [ ]:
d

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
pd.Series(mydata,labels)

a    1
b    2
c    3
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
ser1 = pd.Series([1, 2 , 3 , 4], ['Delhi' , 'mumbai' , 'kanpur' , 'Cambridge'])

In [ ]:
ser1

Delhi        1
mumbai       2
kanpur       3
Cambridge    4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],['USA','GERMANY','ITALY','JAPAN'])
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [ ]:
ser1[0]

1

In [ ]:
ser4 = pd.Series(data=labels)

In [ ]:
ser4

0    a
1    b
2    c
dtype: object

In [ ]:
ser1 + ser2

Cambridge   NaN
Delhi       NaN
GERMANY     NaN
ITALY       NaN
JAPAN       NaN
USA         NaN
kanpur      NaN
mumbai      NaN
dtype: float64

In [ ]:
ser4 = pd.Series([1, 2 , 3 , 4], ['Lucknow' , 'mumbai' , 'kanpur' , 'Cambridge'])
ser4

Lucknow      1
mumbai       2
kanpur       3
Cambridge    4
dtype: int64

In [ ]:
ser1 + ser4

Cambridge    8.0
Delhi        NaN
Lucknow      NaN
kanpur       6.0
mumbai       4.0
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

np.random.seed(101)


df = pd.DataFrame(randn(5 , 4),[1 , 2, 3 ,4 ,5],['A' ,'B','C','D'])

In [ ]:
df

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[['B','C']]

          B         C
1  0.628133  0.907969
2 -0.319318 -0.848077
3  0.740122  0.528813
4 -0.758872 -0.933237
5  1.978757  2.605967

In [ ]:
df['New'] = df['A']+df['B']
df

          A         B         C         D       New
1  2.706850  0.628133  0.907969  0.503826  3.334983
2  0.651118 -0.319318 -0.848077  0.605965  0.331800
3 -2.018168  0.740122  0.528813 -0.589001 -1.278046
4  0.188695 -0.758872 -0.933237  0.955057 -0.570177
5  0.190794  1.978757  2.605967  0.683509  2.169552

In [ ]:
# df.drop('New' , axis = 1 , inplace = True)
df

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop(5)

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df.loc[3]

A   -2.018168
B    0.740122
C    0.528813
D   -0.589001
Name: 3, dtype: float64

In [ ]:
df.iloc[2]

A   -2.018168
B    0.740122
C    0.528813
D   -0.589001
Name: 3, dtype: float64

In [ ]:
df.loc[[1 , 2],['A','B']]

          A         B
1  2.706850  0.628133
2  0.651118 -0.319318

In [ ]:
df[df>0]

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118       NaN       NaN  0.605965
3       NaN  0.740122  0.528813       NaN
4  0.188695       NaN       NaN  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[(df['A']>1) & (df['B']>0)]

         A         B         C         D
1  2.70685  0.628133  0.907969  0.503826

In [ ]:
df

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.reset_index()

   index         A         B         C         D
0      1  2.706850  0.628133  0.907969  0.503826
1      2  0.651118 -0.319318 -0.848077  0.605965
2      3 -2.018168  0.740122  0.528813 -0.589001
3      4  0.188695 -0.758872 -0.933237  0.955057
4      5  0.190794  1.978757  2.605967  0.683509

In [ ]:
new_ind = 'GA HA SH FA NI '.split()
new_ind

['GA', 'HA', 'SH', 'FA', 'NI']

In [ ]:
df['States']=new_ind

In [ ]:
df

          A         B         C         D States
1  2.706850  0.628133  0.907969  0.503826     GA
2  0.651118 -0.319318 -0.848077  0.605965     HA
3 -2.018168  0.740122  0.528813 -0.589001     SH
4  0.188695 -0.758872 -0.933237  0.955057     FA
5  0.190794  1.978757  2.605967  0.683509     NI

In [ ]:
df.set_index('States' , inplace =True)

In [ ]:
df

               A         B         C         D
States
GA      2.706850  0.628133  0.907969  0.503826
HA      0.651118 -0.319318 -0.848077  0.605965
SH     -2.018168  0.740122  0.528813 -0.589001
FA      0.188695 -0.758872 -0.933237  0.955057
NI      0.190794  1.978757  2.605967  0.683509

In [ ]:
#giving the name to my index
df.index.names = ['Myindex']

In [ ]:
df

                A         B         C         D
Myindex
GA       2.706850  0.628133  0.907969  0.503826
HA       0.651118 -0.319318 -0.848077  0.605965
SH      -2.018168  0.740122  0.528813 -0.589001
FA       0.188695 -0.758872 -0.933237  0.955057
NI       0.190794  1.978757  2.605967  0.683509

# Missing Values

In [ ]:
d = {'A' : [ 1 ,2 , np.nan] , 'B': [ 5 , np.nan ,np.nan] , 'C':[4 , np.nan, 3]}
df = pd.DataFrame(d)

In [ ]:
df

     A    B    C
0  1.0  5.0  4.0
1  2.0  NaN  NaN
2  NaN  NaN  3.0

In [ ]:
df.dropna()

     A    B    C
0  1.0  5.0  4.0

In [ ]:
df.dropna(axis= 0)

     A    B    C
0  1.0  5.0  4.0

In [ ]:
# Drop rows with at least two NaN values
df.dropna(thresh = 2)

     A    B    C
0  1.0  5.0  4.0

In [ ]:
df.fillna(value = 'Missing hu')

            A           B           C
0         1.0         5.0         4.0
1         2.0  Missing hu  Missing hu
2  Missing hu  Missing hu         3.0

# Group by 
Allows you to group together rows based off of a column and perform an aggregate function on them

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','James','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

d1 = pd.DataFrame(data)

In [ ]:
d1

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG    James    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [ ]:
bycomp = d1.groupby('Company')

In [ ]:
bycomp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [ ]:
bycomp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [ ]:
#std of sales per company
bycomp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [ ]:
#get the total sales of facebook company
bycomp.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

# Merging

In [ ]:
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                       'A':['A0','A1','A2','A3'],
                       'B':['B0','B1','B2','B3']})

In [ ]:
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                       'C':['C0','C1','C2','C3'],
                       'D':['D0','D1','D2','D3']})

In [ ]:
pd.merge(left,right, how = 'inner',on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

**Merging on multiple columns (keys)**

In [ ]:
left1 = pd.DataFrame({'key1':['K0','K1','K2','K3'],
                     'key2':['K0','K1','K0','K1'],
                       'A':['A0','A1','A2','A3'],
                       'B':['B0','B1','B2','B3']})

In [ ]:
right1 = pd.DataFrame({'key1':['K0','K1','K2','K3'],
                      'key2':['K0','K1','K0','K1'],
                       'C':['C0','C1','C2','C3'],
                       'D':['D0','D1','D2','D3']})

In [ ]:
# pd.merge(left,right, on = ['key1','key2'])
# Merge left and right
pd.merge(left1,right1, on = ['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K1  A1  B1  C1  D1
2   K2   K0  A2  B2  C2  D2
3   K3   K1  A3  B3  C3  D3